html, head, body {
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard",
    "ChalkboardSE-Regular", sans-serif;
  margin: 0px 0px 1px 0px;
  /* the extra 1px allows the iOS inner/outer check to work */
  background: #000;
}

#orientation {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 999;
  display: none;
}

#gameWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

#controlPanel {
  position: relative;
  left: 5px;
  top: -3px;
}

#controlLegend {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  background-color: rgb(59, 57, 57);
  padding: 4px 12px;
  border: 1px solid white;
  border-radius: 0.5px;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard",
    "ChalkboardSE-Regular", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4em;
  height: fit-content;
}

#controlLegend.visible {
  visibility: visible;
  opacity: 1;
}